{
  "env": {
    "development": {
      "plugins": ["transform-flow-strip-types"],
      "presets": ["next/babel"]
    },
    "production": {
      "plugins": ["transform-flow-strip-types"],
      "presets": ["next/babel"]
    },
    "test": {
      "plugins": ["transform-flow-strip-types"],
      "presets": [["next/babel", { "preset-env": { "modules": "commonjs" } }]]
    }
  }
}